<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Boolzapp</title>
</head>

<body>

    <div id="background-app">
        <div id="app">
            <!-- Contact list -->
            <aside>
                <!-- My profile and menu -->
                <div id="left-contact">
                    <div class="top-contact">
                        <figure class="icon-avatar"><img src="img/avatar-einstein.png" alt="Einstein"><h4>Albert</h4></figure>
                        <!-- icon menu -->
                        <div class="option-icon-contact">
                            <a href="#"><i class="fas fa-circle-notch"></i></a>
                            <a href="#"><i class="fas fa-comment-alt"></i></a>
                            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                        </div>
                    </div>
                    <!-- alert -->
                    <div id="alert-notifications">
                        <div id="icon-bell">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div id="text-alert">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- input search contact -->
                    <div id="search-contact">
                        <input type="text" placeholder=" Cerca o inizia nuova chat">
                    </div>

                    <!-- contact list (da ciclare con vue)-->
                    <div id="contact-list">

                       <div v-for="(item, i) in contacts" class="single-contact" :key="i">
                        <figure class="icon-avatar"><img :src="item.avatar" :alt="item.name"><h4>{{item.name}}</h4>
                            <span class="little-font-gray">Ultimo messaggio inviato</span></figure>
                            <!-- icon menu -->
                            <div class="time">
                                <span class="little-font-gray">12:00</span>
                            </div>
                       </div>
                       
                    </div>
                </div>
            </aside>


            <!-- chat -->
            <main>
                <!-- info contact and menu chat -->
                <div class="top-contact chat-top">
                    <figure class="icon-avatar"><img src="img/avatar-zombie.png" alt="Einstein"><h4>Zombie</h4>
                        <span class="little-font-gray">Ultimo messaggio inviato</span></figure>
                    <!-- icon menu -->
                    <div class="option-icon-contact">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <a href="#"><i class="fas fa-paperclip"></i></a>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                </div>

                <!-- chat page -->
                <div id="chat">
                    <div v-for="(msg, idx) in contacts.messages" :class="msg.status === 'sent' ? 'sent-msg-container' : 'received-msg-container'" :key="idx">
                        <div class="text-msg" :class="msg.status === 'sent' ? 'sent-color' : 'received-color'">
                            <p>{{msg.message}}</p>
                            <span class="little-font-gray">{{msg.date}}</span>
                        </div>
                        <!-- <div class="text-msg sent-color">
                            <p>Ricordati di stendere i panni</p>
                            <span class="little-font-gray">15:30</span>
                        </div> -->
                    </div>

                    <!-- <div class="received-msg-container">
                        <div class="text-msg received-color">
                            <p>Tutto fatto!</p>
                            <span class="little-font-gray">16:10</span>
                        </div>
                    </div> -->
                </div>

                <!-- input text box -->
                <div class="chat-input">
                    <a href="#"><i class="far fa-smile"></i></a>
                    <input type="text" placeholder=" Scrivi un messaggio">
                    <a href="#"><i class="fas fa-microphone"></i></a>
                </div>
            </main>


        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>