/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-app{
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(219, 219, 210); */
}

h4{
    font-weight: 400;
}

#app{
    display: flex;
    flex-wrap: wrap;
}

/* style contact list */
aside {
    width: 30%;
    background-color: white;
}

.top-contact{
    height: 80px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-avatar img{
    width: 70px;
}

.icon-avatar {
    display: flex;
    align-items: center;
}

/* style icon menu coctact */
.option-icon-contact .fas {
    color: rgb(177, 177, 177);
    font-size: 20px;
    margin-right: 10px;
}

#alert-notifications{
    height: 80px;
    background-color: rgb(142, 218, 252);
    display: flex;
    align-items: center;
}

#alert-notifications .fas{
    font-size: 25px;
    color: rgb(142, 218, 252);
}

#icon-bell {
    border: 1px solid white;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 10px
}

#text-alert a{
    font-size: 15px;
    color: rgb(79, 116, 133)
}

#search-contact{
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

#search-contact input {
    width: 90%;
    height: 30px;
    border: 1px solid lightgray;
}

.single-contact{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.single-contact:hover{
    background-color: rgb(233, 235, 235);
}

/* add this class with vue js */
.active-chat{
    background-color: rgb(233, 235, 235);
}

.little-font-gray{
    font-size: 10px;
    color: gray;
    margin-right: 10px;
}

/* chat style */
main {
    width: calc(100% - 30%);
    position: relative;
}

.chat-top{
    border-left: 1px solid lightgrey;
    padding-left: 10px;
    width: 100%;
    position: absolute;
    top: 0;
}

#chat{
    background-image: url("img/background-chat.png");
    width: 100%;
    height: 100%;
    padding-top: 100px;
    overflow-y: auto;
}

.chat-input {
    width: 100%;
    height: 70px;
    background-color: rgb(243, 238, 234);
    border-left: 1px solid lightgrey;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-input input{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.chat-input .fa-smile, .fa-microphone{
    font-size: 25px;
    color: gray;
    margin: 0 20px;
}

.sent-msg-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 30px;
}

.received-msg-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 30px;
}


.text-msg {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.text-msg p{
    margin-right: 20px;
}

.sent-color {
    background-color: rgb(213, 249, 186);
}

.received-color {
    background-color: white;
}

.chat-none{
    display: none;
}